.App {
  font-family: sans-serif;
  text-align: left;
}

.contenedorSaludo {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}

.contenedorContador {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: red;
}
.btn {
  width: 150px;
  padding: 5px;
  display: block;
  margin: 20px auto;
}

.contenedorNotas {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: orange;
}
.contenedorNotas li {
  text-align: left;
}

.contenedorCursos {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgb(33, 155, 29);
}
.contenedorCursos p,
h2,
h3 {
  text-align: left;
}
.contenedorCursos h2 {
  margin-top: 30px;
}

.contenedorConditional {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgb(173, 189, 33);
}

.contenedorContactos {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgb(25, 86, 155);
}
.inNombre {
  margin: 5px;
  padding: 10px;
}
.inNumero {
  margin: 5px;
  padding: 10px;
}
.btnAgregar {
  padding: 8px;
  display: block;
  margin: 10px auto;
}
